::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

.mat-dialog-content {
  max-height: 80vh;
  overflow-y: auto;
  padding: 16px;
}
 



.form-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 10px 20px;

  max-height: 80vh; // maksimal dialog balandligi
  overflow-y: auto; // scroll faollashadi
}


.form-col {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.file-upload {
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
}

.error {
  color: red;
  font-size: 13px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.required {
  color: red;
}

// ✅ RESPONSIVE STYLES
@media screen and (max-width: 768px) {
  .form-col {
    flex: 1 1 100%;
  }

  .form-actions {
    flex-direction: column;
    align-items: stretch;

    button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .form-grid {
    padding: 8px 10px;
    gap: 16px;
  }

  .form-col {
    gap: 12px;
  }

  .file-upload {
    font-size: 13px;
  }

  .form-actions {
    gap: 8px;
  }
}
